.audioPlayerContainer{
    display: grid;
    height: 120px;
    width: 100vw;
    grid-template-rows: 60px 60px;
    grid-template-columns: 100px 1fr 100px;
}

.audioMiddle{
    height:120px;
    width:100vw;
    grid-row: 1;
    grid-column: 2/3;
}