.audioPlayerContainer{
    display: grid;
    height: 120px;
    width: 100vw;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 100px 1fr 100px;
}

.audioMiddle{
    display: flex;
    justify-content: center;
    align-items: center;

    height:100%;
    width:100%;
    grid-row: 3;
    grid-column: 1/-1;
}